

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Hauteur minimum pour centrer verticalement */
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

h1, h2 {
    margin: 0.5em 0;
}
